  <div class="row-12">
    <input type="search" name="search" value="search">
    <span class="margin">sort by:</span>
    <input class="col-sm-2 margin" type="button" name="fistName" value="First Name">
    <input class="col-sm-2 margin" type="button" name="lastName" value="Last Name">
    <input class="col-sm-1 margin" type="button" name="id" value="Id">
  </div>
  <!-- <ul class="list-group">

  <input class="col-sm-2 margin" type="button" name="fistName" value="Edit">
  <li class="list-group-item">{{user.LastName}}</li>
  <input class="col-sm-2 margin" type="button" name="fistName" value="Delete">
  <li class="list-group-item">{{user.Id}}</li>
</ul> -->

  <div *ngFor="let user of users">
    <div class="row">
      <div class="col-12">
        <div class="list-group">
          <li class="list-group-item">{{user.FirstName}}
            <span class="pull-right">
              <button class="btn btn-default"> Edit
              </button>
            </span>
          </li>
          <li class="list-group-item clearfix">
            {{user.LastName}}
            <span>
              <button class="btn btn-default pull-right ">
                Reset
              </button>
            </span>
          </li>
          <li class="list-group-item">{{user.Id}}</li>
        </div>
      </div>

    </div>
  </div>
