<div class="card">
  <div class="card-body">
    <form novalidate [formGroup]="userForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstNameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control" id="firstNameId" type="text" placeholder="First Name (required)"
            formControlName="firstName"
            [ngClass]="{'is-invalid': (userForm.get('firstName').touched || userForm.get('firstName').dirty) && !userForm.get('firstName').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userForm.get('firstName').errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="userForm.get('firstName').errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="lastNameId">Last Name</label>
        <div class="col-md-8">
          <input class="form-control" id="lastNameId" type="text" placeholder="Last Name (required)"
            formControlName="lastName"
            [ngClass]="{'is-invalid': (userForm.get('lastName').touched || userForm.get('lastName').dirty) && !userForm.get('lastName').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userForm.get('lastName').errors?.required">
              Please enter your last name.
            </span>
            <span *ngIf="userForm.get('lastName').errors?.maxlength">
              The last name must be less than 50 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="empId">Employee Id</label>
        <div class="col-md-8">
          <input class="form-control" id="empId" type="text" placeholder="Employee Id (required)"
            formControlName="employeeId"
            [ngClass]="{'is-invalid': (userForm.get('employeeId').touched || userForm.get('employeeId').dirty) && !userForm.get('employeeId').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userForm.get('employeeId').errors?.required">
              Please enter Employee id.
            </span>
            <span *ngIf="userForm.get('employeeId').errors?.maxlength">
              The last name must be less than 50 characters.
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3" type="submit" style="width:80px"
            [title]="userForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
            [disabled]="!userForm.valid" (click)="createNewUser()">
            Save
          </button>
          <button class="btn btn-outline-secondary" type="button" (click)="reset()">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
